<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALL_BUILD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AddDeformations2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>AddNoiseToImage2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>AddNoiseToImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>AddSegmentationToImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>AntialiasImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AutoCropImageWithBorder3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>AverageImages3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>BinaryThresholdImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>CastShortToUchar2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>CombineAffine3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>CombineBinarySegmentations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>CompareImages2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>CompareSegmentations2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>CompareSegmentations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ComposeDeformations2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>ComposeDeformations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>ComputeDeformationError2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>ComputeDeformationErrorGroup2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>ComputeDeformationErrorGroup3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>ComputeDeformationImprovement2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>ComputeDeformationStatistics2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>ComputeDeformationStatistics3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>ComputeLandmarkError3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>ComputeLandmarkRegistrationError2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>ComputeLandmarkRegistrationError3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>ComputeLandmarkRegistrationErrorTwoDef3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>ComputeLocalSimilarity2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>ComputeLocalSimilarity3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>ComputeRegistrationErrorTriplet3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
		<key>ConvertDeformation2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>ConvertRGBImageToITK3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>35</integer>
		</dict>
		<key>CorrelateDeformationErrorMagnitude2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>36</integer>
		</dict>
		<key>CreateHumerusSegmentationMask.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>37</integer>
		</dict>
		<key>CreateMultiLabelAtlasSegmentation3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>38</integer>
		</dict>
		<key>CropImageToBoundingBox3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>39</integer>
		</dict>
		<key>DefSetMetaParametersByReference2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>40</integer>
		</dict>
		<key>DeformImage2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>41</integer>
		</dict>
		<key>DeformImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>42</integer>
		</dict>
		<key>DeformImageAffine3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>43</integer>
		</dict>
		<key>DeformLandmarks3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>44</integer>
		</dict>
		<key>DeformLandmarksAffine3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>45</integer>
		</dict>
		<key>DilateImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>46</integer>
		</dict>
		<key>DistanceTransform3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>47</integer>
		</dict>
		<key>DownsampleDeformations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>48</integer>
		</dict>
		<key>ExtractSegmentationOutline2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>49</integer>
		</dict>
		<key>FillEmptySlice3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>50</integer>
		</dict>
		<key>FlipImageFilter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>51</integer>
		</dict>
		<key>FuseSegmentationMaxVote3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>52</integer>
		</dict>
		<key>FuseSegmentationWeightedMaxVote3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>53</integer>
		</dict>
		<key>GCO.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>GenerateDeformation2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>GenerateDeformation3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
		<key>GetBoundingBox3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>56</integer>
		</dict>
		<key>GetImageMinMax3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>57</integer>
		</dict>
		<key>GradientDescentRegistrationITK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>58</integer>
		</dict>
		<key>InvertAffine3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>59</integer>
		</dict>
		<key>InvertComposeDeformations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>60</integer>
		</dict>
		<key>InvertDeformation2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>61</integer>
		</dict>
		<key>InvertDeformation3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>62</integer>
		</dict>
		<key>NormalizeImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>63</integer>
		</dict>
		<key>PrintImageContent2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>64</integer>
		</dict>
		<key>PrintImageContent3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>65</integer>
		</dict>
		<key>RegFuse2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>84</integer>
		</dict>
		<key>RegFuse3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>85</integer>
		</dict>
		<key>RegProp2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>86</integer>
		</dict>
		<key>RegProp3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>87</integer>
		</dict>
		<key>RegistrationAffineMultiRes3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>66</integer>
		</dict>
		<key>RelabelSegmentation3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>67</integer>
		</dict>
		<key>ResampleImage2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>68</integer>
		</dict>
		<key>ResampleImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>69</integer>
		</dict>
		<key>SRS2D-Bone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>76</integer>
		</dict>
		<key>SRS3D-Bone-Multilabel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>78</integer>
		</dict>
		<key>SRS3D-Bone.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>77</integer>
		</dict>
		<key>SRSPotentials.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>79</integer>
		</dict>
		<key>SegFuse2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>80</integer>
		</dict>
		<key>SegFuse3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>81</integer>
		</dict>
		<key>SegProp2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>82</integer>
		</dict>
		<key>SegProp3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>83</integer>
		</dict>
		<key>SelectLabels3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>70</integer>
		</dict>
		<key>SubtractDeformations2D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>71</integer>
		</dict>
		<key>SubtractDeformations3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>72</integer>
		</dict>
		<key>SurfaceExtraction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>73</integer>
		</dict>
		<key>TRWS_LIBRARIES.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>ThresholdImage3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>74</integer>
		</dict>
		<key>Utils.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>ZERO_CHECK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>convertPointToIndex3D.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>75</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>069C4BF4D4FB492B962BB265</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06A85260E186450E8021FC1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>080DC578F01A4238AFD26450</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>08178CCEC54A48869BBEEF69</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>083287B0E42940EEADA62DE7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0B5E32FAD9AD4F23A517363A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C8B841CB930463FB70DB5AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0D7F34C2B19843958C0B2CC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0F991EF3B3524AF59B0A6671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>181BD2760E9D432C82859E9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A1A94F2BBEC4C2587AA95E7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CDD6EC015674902A24A7682</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F7F520C26974EC9857B79D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>205B383EDBC64DAD8A2DBED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>29E3F22D550C4356AA9D228D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2DD8036855054E339208805F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2E5A7703F31F4D939F718185</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F1C8C04F68346389647135E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>31384DAA82754543AAF75C5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>326EA751C3914681995F3B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>35E74925D49D427995CE8D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37865BB48BFA4A1EB4BE3F1C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>37EC1E82842541E7981983AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>397FC907BD844AB18CA1893A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3DCC5270BE76445CB6601B02</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3EAE6F5F7C2A4FDEA21393D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3F047BA9618A4BD7A5481BA5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>41AD9FE1C4604FC4A4FCBF25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>42D10D143C04448F9E3E6482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>43A6266ED3894BBE97E458F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>52F619CDB36849A28777E509</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>54647D4C6F4E4A02A0294186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>552E6324D20C4DF4BE205D16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>584CF3071FF04272BA1F4F00</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>58FE0CE54B7E49A381716857</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>59111EF9418E4E2FA5A03361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5AA3CDCEEB4345FDAF00AA0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B30C4692BCD4CECB00C1EF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>62261EFF47304EB7BFFFBD88</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>646B8BA658E74D91BCB0EA6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65AAC102519E4366A0D8DC1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6DD120386E1E4E839F3BD9E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>725A12A22F534913A1A9027A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72DECC3E760546F79E11FC0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>73E680FF36F742BCB2C23B99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7B3DB235CF1C43518AFA7C07</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84795D1221A24D868426F14F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84BCC8143C994B458B6C2D48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>85CC493B48CC4F948B1C5D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>876AE797815348A1B7428D66</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8A1B4A076C4449E8B59E655B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>92A37B1C1909435FA1D4DEED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93AC53E03F634C9480D9B998</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9912BF1153FE4DAFA40C11AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AC08204928A489EA16D934B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D33F910AB364FA994BAED35</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8974C1934ED4E6DA7B476FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B14AAB92A3FB49419EB55DF3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B84AAAF611774ACF8D10F1AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA27B5A84D884C4D9656E7A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD31E2E1F4594BDEA07F0183</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD6FB70DFCC94E4A919A7186</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF04EB40096C41B2857B76A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BF2D8AB65325412F81E3BF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0704DCAE4F046C79B1A670E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C1A7D21125A84B6BBA41FB11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C760F03E565040269C0BA56C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CCBA4F2D4B924EAD9AC63479</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD9798F683834D029320C854</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE2B76036D0D48B7A32A7007</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D1A1BD872E7C48B7B15CDBFD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4791FF39551417CBAD278A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D5C2D625CF944E109D80B7FC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D6CECC36C8BA428FB93E62A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDB10A581B704A078FD499A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEE4BB17909477CB38E1374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DF5FE760E3A34B3D86D5E283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E3EB89321B954B638E27E0A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E6D7E4112FF44D8289B197AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E85984B0E723413AB02579F5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EBA6C06D45C147CBA0810D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ECB2DAE645364B098B2802CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F113BE275591443C9CA533E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F44379F7337F4973AFB53C8A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F5B2BCEAA1294531BD45A757</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F60349A2D3054688893AAF8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC8A0B3FFE324CF3BD953E31</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE0FD37CAC314469BFAE4D0D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
